# local package
-e .

# Databricks notebook source
# MAGIC %pip install git+https://github.com/hyperopt/hyperopt-sklearn
# MAGIC %pip install requests
# MAGIC %pip install tabulate
# MAGIC %pip install future
# MAGIC %pip uninstall h2o
# MAGIC %pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o
